@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'eb-garamond';
  src: url('/fonts/EBGaramond-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
}

@layer utilities {
  .text-38 {
    @apply text-[38px] leading-[42px];
  }

  .text-70 {
    @apply text-[70px] leading-[91.35px];
  }

  .text-heading-primary {
    @apply text-38 sm:text-70;
  }

  .heading-primary {
    @apply text-heading-primary text-white font-primary font-medium text-left break-words;
  }

  .heading-secondary {
    @apply text-38 font-primary font-medium text-heading sm:text-[42px] sm:leading-[54.81px];
  }

  .horizontal-text-card-heading {
    @apply text-38 font-normal text-heading max-w-md sm:text-[60px] sm:leading-[78.3px];
  }

  .primary-button {
    @apply w-full min-w-36 !no-underline flex justify-center items-center bg-greenPrimary cursor-pointer text-sm font-normal px-4 py-3 shadow md:max-w-fit;
  }

  .primary-video-card {
    @apply relative;
  }

  .primary-video-card-image {
    @apply object-cover md:h-[380px] max-w-full;
  }

  .secondary-video-card {
    @apply relative w-1/2;
  }

  .secondary-video-card-image {
    @apply object-contain md:h-44 w-full;
  }

  .heading-recommended-video-card {
    @apply text-lg sm:text-lg sm:leading-7;
  }

  .link-recommended-video-card {
    @apply text-base leading-5 text-greenPrimary;
  }

  .no-scroll {
    @apply overflow-hidden;
  }

  .modal-container {
    @apply hidden;
  }

  .modal-container.block {
    @apply flex;
  }

  .play-button-container {
    @apply absolute inset-0 flex items-center justify-center w-full h-full;
  }

  .play-button {
    @apply flex items-center justify-center bg-[#003A4F] rounded-full opacity-80 hover:opacity-100 cursor-pointer;
  }

  .modal-overlay {
    @apply modal-container fixed left-0 top-0 flex h-full min-h-screen w-full items-center justify-center bg-dark/90 px-4 py-5 z-50;
  }

  .modal-wrapper {
    @apply relative w-10/12 h-1/2 md:w-10/12 md:h-[91.6%] max-w-[1500px] bg-white;
  }

  .modal-close-button {
    @apply absolute text-6xl -top-10 -right-10 w-10 h-10 rounded-md bg-white flex justify-center items-center cursor-pointer;
  }

  .premium-platform-image-container {
    @apply flex flex-wrap justify-center items-center sm:gap-4 md:gap-6 lg:gap-10 3xl:gap-20 w-full;
  }

  .premium-platform-image-slider {
    @apply w-full h-28 overflow-hidden flex justify-center items-center;
  }

  .leader-card-image-wrapper {
    @apply h-[80%] w-full bg-navGrey flex justify-center items-center;
  }

  .leader-card-details {
    @apply absolute bottom-0 h-auto w-[85%] bg-white p-3;
  }

  .leader-card-name {
    @apply text-navDarkBlue text-2xl font-bold line-clamp-1;
  }

  .leader-card-designation {
    @apply text-heading text-xl font-normal line-clamp-2;
  }

  .leader-card-link-text {
    @apply text-base font-normal text-navDarkBlue;
  }

  .dotList {
    @apply absolute flex justify-center text-center m-auto p-0 bottom-0 inset-x-0;
    list-style: none;
  }

  .tab-section-heading {
    @apply text-[28px] font-medium;
  }
}
